<div class="modal fade new-post" tabindex="-1" role="dialog" aria-labelledby="newPost" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">New Post</h4>
      </div>
      <div class="modal-body">
        <%= form_for [current_user, @post] do |f| %>
          <%= f.label :body %>
          <%= f.text_area :body, :class => "form-control" %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Save Post", :class => "btn btn-primary" %>
      </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
