<div class="post-box" id="div-<%=@post.id %>">
  <h4 id="post-<%= @post.id %>"><%= @post.format.html_safe %></h4>
  <div class="post-user-info-box">

    <div class="post-user-color-box" style="background-color:<%= current_user.color%>">
    </div>

  <div>
    <span class="post-user-text"><%= @user.email %> <a href="#" data-toggle="modal" data-target=".edit-post-<%=@post.id%>">Edit</a> | <%= link_to "Delete", user_post_path(current_user, @post), :remote => true, :method => :delete %></span>
  </div>

  </div>
</div>
